* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*B header */
.header{
    height: 90px;
    background-color: orange;
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
.header-action-item{
    display: inline-block;
    padding: 6px;
}
.header-home, .header-action{
    list-style: none;
}
.header-action{
    margin-top: -24px;
}
.header-home{
    display: flex;
}
.header-home-item{
    font-size: 5rem;
}
.header-action-item{
    font-size: 1.1rem;
    line-height: 5rem;
    cursor: pointer;
}
.logoSite{
    width: 100%;
    height: 64px;
    cursor: pointer;
}
.header-home-icon, .header-action-icon{
    text-decoration: none;
    color: #000;
}
.header-home-icon{
    margin-right: 24px;
    font-size: 36px;
    line-height: 68px;
}
.header-action-icon{
    color: #fff;
}
.header-action-list{
    color: #fff;
}
.header-action-item-wrap{
    background-color: #8F2624;
    border-radius: 8px;
    line-height: 2rem;
    width: 120px;
    text-align: center;
}
/*E header */


/*B Sub-header */
.sub-header{
    height: 56px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}
.sub-header-list{
    /* padding-left: 0; */
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
}
.sub-header-item{
    line-height: 24px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.sub-header-item:nth-child(2){
    margin: 0 130px;
    position: relative;
}
.sub-header-item:first-child{
    position: relative;
}
.sub-header-item:first-child::after,
.sub-header-item:nth-child(2)::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 60px;
    border-bottom: 2px solid #000;
    top: 3px;
    right: -74px;

}
.sub-header-item-icon{
    margin-right: 6px;
    font-size: 25px;
}
/*E Sub-header */

/*B container-header-options */
.container-header{
    display: flex;
    align-items: center;
    height: 68px;
    background-color: #f5f5f5;

}
.container-header-options{
    list-style: none;
    display: flex;
    font-size: 14px;
    color: #303644;
}
.container-header-options-item{
    padding-right: 24px;
    cursor: pointer;
}
.container-header-options{
    position: relative;
}
.container-header-options::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 870px;
    border-bottom: 2px solid #ccc;
    top: 26px;
    right: -565px;
}
.container-header-list{
    display: flex;
    margin-top:32px;
}
.container-header-options-item-left{
    margin-left: -12px;
    margin-right: 38px;
    color: #212529;
}
.container-header-options-item-right{
    margin-left: 570px;
    color: #212528;
}
/*E container-header-options */

/*B container-header-date */
.container-header-date{
    display: flex;
    margin-top: 32px;

}
.container-header-date-icon{
    font-size: 32px;
    padding-right: 16px;
}
.container-header-date-info{
    display: flex;
}
.container-header-date-info-select{
    display: flex;
}
#container-header-date-realtime{
    color: #8f2624;
    font-size: 15px;
    font-weight: 800;
    padding-right: 4px;
}
/*E container-header-date */

/* B content */
.content-main{
    height: 1200px;
    background-color: #f5f5f5;
}
.content-main-item{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 2px 2px 14px -2px #ccc;
    margin-top: 42px;
}
.content-main-image{
    width: 100%;
    display: block;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 50% ;
    border-bottom-left-radius: 50% ;
    height: 160px;
    cursor: pointer;
}
.content-main-image:hover{
    opacity: 0.8;
    transform: scale(1.01, 1.01);
    overflow: hidden;
    
}
.content-main-list{
    /* margin-top: 42px; */
}
.content-main-item-des{
    margin-top: 20px;
    font-size: 18px;
    height: 38px;
    color: rgb(44, 50, 63);
    cursor: pointer;

}
.content-main-item-des:first::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 10px;
    border-right: 2px solid red;
}
.content-main-item-des:hover{
    color: #8F2624;
}
.content-main-item-info{
    display: flex;
    justify-content: space-between;
    padding: 16px 12px 0px;
}
.content-main-item-info-detail{
    color: #5a5d61;
    cursor: pointer;

}
.content-main-item-info-price{
    color: #ed1c24;
    font-size: 16px;
}
.content-main-item-footer{
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 0px;
    align-items: center;
}
.content-main-item-footer-quality{
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    display: flex;
    width: 115px;
    height: 36px;
    align-items: center;
    justify-content: space-around;
}
.content-main-item-footer-quality-sub{
    font-size: 35px;
    font-weight: 600;
    height: 23px;
    line-height: 15px;
    color: #82868e;
    cursor: pointer;

}
.content-main-item-footer-quality-qua{
    font-weight: 600;
    color: #8f2624;
}
.content-main-item-footer-quality-sum{
    font-size: 22px;
    font-weight: 600;
    height: 23px;
    line-height: 20px;
    color: #82868e;
    cursor: pointer;

}
.content-main-item-footer-price{
    font-weight: 600;
}
.content-main-image-sub{
    width: 100%;
    display: block;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    height: 360px;
    cursor: pointer;
}
.content-main-image-sub4{
    width: 100%;
    display: block;
    height: 174px;
    cursor: pointer;
}
.content-main-sub{
    margin-top: 60px;
}
.content-main-image-margin-right{
    margin-right: -12px;
}
.content-main-image-padding-top{
    margin-top: 12px;
}
.content-main-image-radius1 {
    border-top-right-radius: 20px ;
}
.content-main-image-radius2{
    border-bottom-right-radius: 20px ;
}
/* E Content */
/* B Info */
.info{
    background-color: #f5f5f5;
    height: 300px;
}
.info-main{
    background-color: #fff;
    padding: 32px 60px 64px 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 14px -2px #ccc;

}
.info-main-header{
    font-size: 25px;
}
.info-main-name{
    padding-left: 12px;
}
.info-main-content{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 12px 0px;
}
.info-main-features-list{
    display: flex;
    list-style: none;
}
.info-main-features-item{
    padding: 0px 25px;
}
.info-main-policy{
    font-size: 18px;
    font-weight: 600;
    padding: 16px 0px;
}
.info-main-policy-des{
    font-size: 18px;

}